<header class="article-info clearfix">
  <h1 itemprop="name">
      <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="url">{{ .Title }}</a>
  </h1>
  <p class="article-author">By
      <!--a href="{{ .Site.Params.AuthorHomepage }}" title="{{ .Site.Author.name }}">{{ .Site.Author.Name | default "you" }}</a-->
    <a href="{{ .Site.BaseURL }}" target="_blank" title="{{ .Site.Params.Author}}">{{ .Site.Params.Author | default "you" }}</a>
  </p>
  <p class="article-time">
    <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format (.Site.Params.DateFormat | default "2006-01-02") }}</time>
  </p>
</header>
